<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Caramella Bot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
              <a class="button is-light" href="https://invite.caramella.ml">
                Invite the bot
              </a>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
              <a class="button is-light" href="https://join.caramella.ml">
                Join the server
              </a>
          </div>
        </div>
      </div>
    </nav>

  <section id="app" class="section">
    <div class="container">
        <table class="table is-bordered is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Total</th>
            </tr>
          <thead>

          <tbody>
            <tr v-for="(player, index) in players">
              <th v-if="player.listening">
                  <i class="fas fa-play"></i>
              </th>
              <th v-else></th>
              <td>[[ player.name ]]</td>
              <td>[[ readable(player.score) ]]</td>
            </tr>
          </tbody>
        </table>   
    </div>
  </section>

<script src="static/js/index.js"></script>
</body>

</html>
